
.DS_Store

# C extensions
*.so
*.c
*.pyc

# Distribution / packaging
dist/
*.egg-info/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/pycharm,python,visualstudiocode

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

imagecloud/__pycache__/
imagecloud/_version.py
*.png